---
---

@import "minima";

.wrapper {
  max-width: 1200px;
}

.site-footer {
  padding: 12px 0;
}

.site-footer .footer-right {
  font-size: 0.75rem;
  text-align: right;
  color: #828282;
}

.site-footer .footer-right a {
  color: inherit;
  text-decoration: none;
}
