---
---

@import "minima";

html, body {
  min-height: 100%;
}

body {
  background-image: url("/assets/images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.site-header {
  background-color: white;
}

.page-content {
  background: transparent;
}

.post,
.home,
.post-content,

article {
  background: transparent;
}

.wrapper {
  max-width: 1200px;
}

.site-footer {
  padding: 12px 0;
}

.site-footer > .wrapper > *:not(.footer-right) {
  display: none !important;
}

.site-footer .footer-right {
  display: block;
  font-size: 0.75rem;
  text-align: right;
  color: #828282;
}

.site-footer .footer-right a {
  color: inherit;
  text-decoration: none;
}
