---
---

@import "minima";

.wrapper {
  max-width: 1200px;
}

.site-footer {
  padding: 12px 0;
}

.site-footer .footer-heading,
.site-footer .footer-col-wrapper,
.site-footer .social-links,
.site-footer .rss-subscribe {
  display: none;
}

.site-footer::after {
  content: "Charlotte McGinty  charlotte.mcginty@nhm.ac.uk";
  display: block;
  width: 100%;
  font-size: 0.75rem;
  text-align: right;
  color: #828282;
}
